.heading h2
{
    margin-top: 10%;;
    text-align: center;

}

.main-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 95%;
    grid-gap:6em;
    margin: auto auto;
   
   
    
}

.box-1
{
    width: 400px;
    height: 550px;
    background-color: #003C43;
    padding-left: 40px;
    padding-top: 20px;
  

}

.box-2
{
    width: 450px;
    height: 550px;
    
    background-color:  #003C43;
   
   
}

.box-3
{
    width: 350px;
    height: 450px;
    background-color:  #003C43;
    margin-top: 100px;
     
}
.playlist
{
    width: 400px;
    height: 100px;
   
    
    margin-left: 1080px;
    margin-top: -550px;
    
}

.genre 
{
    display: inline-flex;
    color:bisque ;
   
}

#dropdown
{
    display: inline-flex;
    margin-left: 20px;
   
}

.navbar-nav
{
    background-color: bisque;
}

.dropdown-menu li 
{
    background-color: bisque;
    
}

.dropdown-menu
{
  padding: 0rem;
}

.playlist-name
{
    padding: 10px;
    box-shadow: 5px 5px 5px #86469C ;
    border: 2px solid maroon;
    width: 200px;
}