.heading h2
{
    margin-top: 10%;;
    text-align: center;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}



.main-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    width: 95%;
    grid-gap:6em;
    margin: auto auto;
   
   
    
}

.box-1
{
    width: 400px;
    height: 550px;
    background-color: #003C43;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: -5px -5px 2px #49243E;
    border-radius: 20px 20px 20px 20px;
  

}

.song-container
{
    color: bisque;
    margin-top: 100px;;
}

#main-songs h4
{
    margin-bottom: 30px;
    margin-top: 50px;
    color: bisque;
}

.songs-btn
{
    display: block;
    width: 250px;
    text-align: left;
    margin-bottom: 15px;
    border-radius: 5px 5px 5px 5px;
    background-color: #97E7E1;
}

.songs-btn:hover
{
  background-color: #8B93FF;
}

.box-2
{
    width: 450px;
    height: 550px;
    box-shadow: -5px -5px 2px #49243E;
    background-color:  #003C43;
    border-radius: 20px 20px 20px 20px;
   
   
}

#card-container
{
  width: 360px;
  height: 400px;   
  background: linear-gradient(to bottom right,#D875C7,#6AD4DD,#FF8080);
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 20px 20px 20px 20px;
  
}

.img-ele
{
    width: 100px;
    height: 100px;
}

.img-ele img
{
    width: 100%;
    height: 100%;
}


.box-3
{
    width: 350px;
    height: 470px;
    padding-left: 40px;
    padding-top: 20px;
    background-color:  #003C43;
    margin-top: 80px;
    box-shadow: -5px -5px 2px #49243E;
    border-radius: 20px 20px 20px 20px;
     
}
#playlist
{
    width: 400px;
    height: 100px; 
    margin-left: 1080px;
    margin-top: -550px;
    
}

.genre 
{
    display: inline-flex;
    color:bisque ;
   
}

.select
{
    padding: 5px;
    width: 140px;
    background-color: bisque;
    margin-left: 10px;

}

#playlist-name
{
    padding: 10px;
    box-shadow: 5px 5px 5px #86469C ;
    border: 2px solid maroon;
    width: 200px;
}

#create-playlist
{
    margin-left: 20px;
    background-color: #E59BE9;
    color: #49243E;
}

#create-playlist:hover
{
    background-color: #912BBC;
    color: bisque;
}

#current-playlist h4
{
    color: bisque;
    
}

#all-playlists h4
{
    color: bisque;
}

